.dropdown-toggle, .dropdown-item, .dropdown{
    cursor: pointer;
}

#loginForm{
    position: absolute;
    right: 0.3em;
}

img{
    max-height: 50px;
    border: 2px solid #fff;
    display: inline;
}